In [12]:
# 1. 빈칸 채우기

3 ** 5

15 % 4

a = 4
a -= 3
a

a = {'prof.choi' : 'The best'}
type(a)

dict

In [13]:
# 2. 실행결과로 알맞은 것은?

list_1 = [0,3,1,7,5,0,5,8,0,4]
def quiz_2(list_data):
    a = set(list_data)
    return (list(a)[1:5])
print(quiz_2(list_1))

[1, 3, 4, 5]

In [14]:
# 3. 자료구조에 대한 설명을 하시오

# 스택 : 나중에 넣은 데이터를 먼저 반환하도록 설계된 메모리 구조
# 큐 : 먼저 넣은 데이터를 먼저 반환하도록 설계된 메모리 구조
# 튜플 : 값의 변경이 불가능하며, 리스트의 연산, 인덱싱, 슬라이싱 등을 동일하게 사용한다.
# 세트 : 값을 순서 없이 저장하면서 중복을 불허한다.

In [19]:
# 4. 실행결과로 알맞은 것은?

country_code = {'America':1, 'Korea':82, 'China':86, 'Japan':81}

country_code.values()
country_code
country_code.keys()
85 in country_code.values()
'Korea' in country_code.keys()

True

In [23]:
# 5. 에러가 난 이유 해설하기

a = ''
midterm_set = set([1,57,4,3,2,1,1,2,3])
for i in midterm_set:
    a = a+i
    
print(i)    

# 해설 : 에러가 발생하는 이우는 변수 a가 타입이 문자열이기 때문이다. 원하는 값이 나오기 위해서는 변수 a의 타입이 정수형으로 바뀌어야 한다.
# (에러가 없다면 마지막으로 출력되는 값은 57 이다)

TypeError: can only concatenate str (not "int") to str

In [24]:
# 6. 실행결과로 알맞은 것은?

def delete_a_list_element(list_data, element_value):
    if element_value in list_data:
        list_data.remove(element_value)
        return list_data
    else:
        return 'False'
    
list_data = ['a', 1, 'gachon', '2016.0']
element = float(2016)
result  = delete_a_list_element(list_data, element)
print(result)

False

In [25]:
# 7. 실행결과로 알맞은 것은?

def add_number(original_list):
    original_list += [1]
    
mylist = [1,2,3,4]
add_number(mylist)
print(set(mylist))

{1, 2, 3, 4}

In [27]:
# 8. 실행결과로 알맞은 것은?

a = [3, 'apple', 2016, 4]
b = a.pop(0)
c = a.pop(1)
print(b+c)

2019

In [29]:
# 9. 실행결과로 알맞은 것은?

def week_seven(sentence1):
    cells = set(sentence1.replace(' ','').lower())
    return cells

sentence_a = 'The quick brown fox jumps over the lazy dog'
sentence_b = 'I love you'
print(len(week_seven(sentence_a) - week_seven(sentence_b)))

19

In [30]:
# 10. 실행결과로 알맞은 것은?

tuple_1 = (1,2,3)
tuple_2 = (4,5,6)

def quiz_1(data_1, data_2):
    result = []
    
    for i in (tuple_1 + tuple_2):
        result.append(i)
    return (result)    
    
print(quiz_1(tuple_1, tuple_2))

[1, 2, 3, 4, 5, 6]

In [34]:
# 11. 실행결과를 쓰시오.

dict_1 = {2:1, 4:2, 6:3, 8:4, 10:6}

dict_keys = list(dict_1.keys())
dict_values = list(dict_1.values())

dict_2 = dict()

for i in range(len(dict_keys)):
    dict_2[dict_values[i]] =dict_keys[i]
    
print(dict_2[2])

4

In [37]:
# 12. 실행결과로 알맞은 것은?

animal = ['cat', 'snake', 'monkey', 'ant', 'spider']
legs = [4,0,2,4,8]
animal_legs_dict = {}
for i in range(len(animal)):
    animal_legs_dict[legs[i]] = animal[i]
    
animal_legs_dict['ant'] = 6 
print(animal_legs_dict)

{4: 'ant', 0: 'snake', 2: 'monkey', 8: 'spider', 'ant': 6}

In [40]:
# 13. 실행결과를 쓰시오.

t = (1,2,3)
print(t + t)
print(t * 2)
print(t, t)

(1, 2, 3, 1, 2, 3)
(1, 2, 3, 1, 2, 3)
(1, 2, 3) (1, 2, 3)

In [41]:
# 14. 실행결과를 쓰시오.

Mydict = {'1':1, '2':2}
Copy = Mydict
Mydict['1'] = 5
result = Mydict['1'] + Copy['1']
print(result)

10

In [42]:
# 15. 실행결과를 쓰시오.

sentence = list('You Love Me?')
result = ''
for i in range(len(sentence)):
    if i % 3 == 0:
        result += sentence.pop()
    else:
        result += sentence.pop(0)
        
print(result)

?Yoeu MLo ve

In [48]:
# 16. 실행결과를 쓰시오.

number = [5,6,7,8,9,1,2,3,4]
result = []
result.append(number.pop(0)) #5
result.append(number.pop()) #4
result.append(number.pop(1)) #7
result.append(number.pop()) #3
result.append(number.pop(0)) #6
print(number[0] + result[-1])

14

8

In [49]:
# 17. 실행결과를 쓰시오.

a = list(range(10))
a.append(a[3])
a.pop(a[3])
a.insert(3,a[-1])
a.pop()
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [50]:
# 18. 실행결과를 쓰시오.

box = [1, 'red', 3, (), [], None]
print(len(box))

6

In [51]:
# 19. 실행결과를 쓰시오.

data_1 = {'one':(1,2,3,4,5,6), 'two':[1,2,3,4,5,6], 'three':{'four':4,'five':5}}

for k in ['one','two','three']:
    try:
        print(data_1[k][:-1])
    except TypeError:
        print('error')
        
for k in ['one','two','three']:
    try:
        data_1[k][-1]='a'
        print(data_1[k][:-1])
    except TypeError:
        print('error')

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
error
error
[1, 2, 3, 4, 5]
error

In [52]:
# 20. 실행결과를 쓰시오.

class_category = ['A', 'B', 'C', 'D']
student_category = ['Sam', 'Sarah', 'Jane', 'John']

class_student_cate = {}
for i in range(len(class_category)):
    class_student_cate[class_category[i]] = student_category[i]
print(class_student_cate)

{'A': 'Sam', 'B': 'Sarah', 'C': 'Jane', 'D': 'John'}