## E.1 An Introduction to Python's re Module

In [1]:
import re
import pandas as pd

In [2]:
re.search("flower", "field of flowers")

In [3]:
print(re.search("flower", "Barney the Dinosaur"))

None

In [4]:
re.findall("flower", "Picking flowers in the flower field")

['flower', 'flower']

## E.2 Metacharacters

In [5]:
sentence = "I went to the store and bought " \
           "5 apples, 4 oranges, and 15 plums."

sentence

'I went to the store and bought 5 apples, 4 oranges, and 15 plums.'

In [6]:
re.findall("\d", sentence)

['5', '4', '1', '5']

In [7]:
print(re.findall(r"\d", sentence))

['5', '4', '1', '5']

In [8]:
print(re.findall(r"\D", sentence))

['I', ' ', 'w', 'e', 'n', 't', ' ', 't', 'o', ' ', 't', 'h', 'e', ' ', 's', 't', 'o', 'r', 'e', ' ', 'a', 'n', 'd', ' ', 'b', 'o', 'u', 'g', 'h', 't', ' ', ' ', 'a', 'p', 'p', 'l', 'e', 's', ',', ' ', ' ', 'o', 'r', 'a', 'n', 'g', 'e', 's', ',', ' ', 'a', 'n', 'd', ' ', ' ', 'p', 'l', 'u', 'm', 's', '.']

In [9]:
print(re.findall(r"\w", sentence))

['I', 'w', 'e', 'n', 't', 't', 'o', 't', 'h', 'e', 's', 't', 'o', 'r', 'e', 'a', 'n', 'd', 'b', 'o', 'u', 'g', 'h', 't', '5', 'a', 'p', 'p', 'l', 'e', 's', '4', 'o', 'r', 'a', 'n', 'g', 'e', 's', 'a', 'n', 'd', '1', '5', 'p', 'l', 'u', 'm', 's']

In [10]:
print(re.findall(r"\W", sentence))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ',', ' ', ' ', ',', ' ', ' ', ' ', '.']

In [11]:
print(re.findall(r"\s", sentence))

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

In [12]:
print(re.findall(r"\S", sentence))

['I', 'w', 'e', 'n', 't', 't', 'o', 't', 'h', 'e', 's', 't', 'o', 'r', 'e', 'a', 'n', 'd', 'b', 'o', 'u', 'g', 'h', 't', '5', 'a', 'p', 'p', 'l', 'e', 's', ',', '4', 'o', 'r', 'a', 'n', 'g', 'e', 's', ',', 'a', 'n', 'd', '1', '5', 'p', 'l', 'u', 'm', 's', '.']

In [13]:
print(re.findall(r"t", sentence))

['t', 't', 't', 't', 't']

In [14]:
print(re.findall(r"to", sentence))

['to', 'to']

In [15]:
print(re.findall(r"\bt", sentence))

['t', 't']

In [16]:
print(re.findall(r"t\b", sentence))

['t', 't']

In [17]:
print(re.findall(r"\Bt", sentence))

['t', 't', 't']

## E.3 Advanced Search Patterns

In [18]:
soda = "coca cola."
soda

'coca cola.'

In [19]:
print(re.findall(r".", soda))

['c', 'o', 'c', 'a', ' ', 'c', 'o', 'l', 'a', '.']

In [20]:
print(re.findall(r"c.", soda))

['co', 'ca', 'co']

In [21]:
print(re.findall(r"\.", soda))

['.']

In [22]:
print(re.findall(r"co", soda))

['co', 'co']

In [23]:
print(re.findall(r"[co]", soda))

['c', 'o', 'c', 'c', 'o']

In [24]:
print(re.findall(r"[oc]", soda))

['c', 'o', 'c', 'c', 'o']

In [25]:
print(re.findall(r"[cdefghijkl]", soda))

['c', 'c', 'c', 'l']

In [26]:
print(re.findall(r"[c-l]", soda))

['c', 'c', 'c', 'l']

In [27]:
word = "bookkeeper"
word

'bookkeeper'

In [28]:
print(re.findall(r"ee", word))

['ee']

In [29]:
print(re.findall(r"e{2}", word))

['ee']

In [30]:
print(re.findall(r"e{3}", word))

[]

In [31]:
print(re.findall(r"e{1,3}", word))

['ee', 'e']

In [32]:
transcription = "I can be reached at 555-123-4567. "\
                "Look forward to talking to you soon."

transcription

'I can be reached at 555-123-4567. Look forward to talking to you soon.'

In [33]:
print(re.findall(r"\d{3}-\d{3}-\d{4}", transcription))

['555-123-4567']

In [34]:
print(re.findall(r"\d+-\d+-\d+", transcription))

['555-123-4567']

## E.4 Regular Expressions and pandas

In [35]:
ice_cream = pd.read_csv("ice_cream.csv")
ice_cream.head()

,Brand,Flavor,Description
0,Ben and Jerry's,Salted Caramel Core,Sweet Cream Ice Cream with Blonde Brownies & a...
1,Ben and Jerry's,Netflix & Chilll'd™,Peanut Butter Ice Cream with Sweet & Salty Pre...
2,Ben and Jerry's,Chip Happens,A Cold Mess of Chocolate Ice Cream with Fudge ...
3,Ben and Jerry's,Cannoli,Mascarpone Ice Cream with Fudge-Covered Pastry...
4,Ben and Jerry's,Gimme S’more!™,Toasted Marshmallow Ice Cream with Chocolate C...

In [36]:
ice_cream["Description"].str.extract(r"(\bChocolate\s\w+)").head()

                  0
0               NaN
1               NaN
2     Chocolate Ice
3               NaN
4  Chocolate Cookie

In [37]:
(
    ice_cream["Description"]
    .str.extract(r"(\bChocolate\s\w+)")
    .dropna()
    .head()
)

                   0
2      Chocolate Ice
4   Chocolate Cookie
8      Chocolate Ice
9      Chocolate Ice
13  Chocolate Cookie

In [38]:
(
    ice_cream["Description"]
    .str.extract(r"(\bChocolate\s\w+)")
    .dropna()
    .squeeze()
    .head()
)

2        Chocolate Ice
4     Chocolate Cookie
8        Chocolate Ice
9        Chocolate Ice
13    Chocolate Cookie
Name: 0, dtype: object

In [39]:
chocolate_flavors = (
    ice_cream["Description"]
    .str.extract(r"(\bChocolate\s\w+)")
    .dropna()
    .squeeze()
)

In [40]:
chocolate_flavors.str.split(r"\s").head()

2        [Chocolate, Ice]
4     [Chocolate, Cookie]
8        [Chocolate, Ice]
9        [Chocolate, Ice]
13    [Chocolate, Cookie]
Name: 0, dtype: object

In [41]:
chocolate_flavors.str.split(r"\s").str.get(1).head()

2        Ice
4     Cookie
8        Ice
9        Ice
13    Cookie
Name: 0, dtype: object

In [42]:
chocolate_flavors.str.split(r"\s").str.get(1).value_counts()

Ice         11
Cookie       4
Chip         3
Sandwich     2
Cookies      2
Mint         1
Malt         1
Name: 0, dtype: int64

## E.5 Summary