In [1]:
import pandas as pd

citi_bike = pd.read_csv('citibike.csv')
citi_bike.head()

                 start_time                 stop_time
0  2020-06-01 00:00:03.3720  2020-06-01 00:17:46.2080
1  2020-06-01 00:00:03.5530  2020-06-01 01:03:33.9360
2  2020-06-01 00:00:09.6140  2020-06-01 00:17:06.8330
3  2020-06-01 00:00:12.1780  2020-06-01 00:03:58.8640
4  2020-06-01 00:00:21.2550  2020-06-01 00:24:18.9650

In [2]:
citi_bike.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1882273 entries, 0 to 1882272
Data columns (total 2 columns):
 #   Column      Dtype
---  ------      -----
 0   start_time  object
 1   stop_time   object
dtypes: object(2)
memory usage: 28.7+ MB

1. start_time과 stop_time 열을 문자열 대신 날짜/시간(Timestamp) 값을 저장하도록 변환하세요.

In [5]:
citi_bike['start_time'] = pd.to_datetime(citi_bike['start_time'])
citi_bike['stop_time'] = pd.to_datetime(citi_bike['stop_time'])

In [7]:
for column in ['start_time', 'stop_time']:
    citi_bike[column] = pd.to_datetime(citi_bike[column])

In [8]:
citi_bike.dtypes

start_time    datetime64[ns]
stop_time     datetime64[ns]
dtype: object

2. 각 요일(월요일. 화요일 등) 승차한 건 수를 계산하세요/ 사람들이 자전거를 가장 많이 타는 요일은 언제인가요? start_time 열을 기준으로 계산하세요

In [12]:
citi_bike['start_time'].dt.day_name().value_counts()

Tuesday      305833
Sunday       301482
Monday       292690
Saturday     285966
Friday       258479
Wednesday    222647
Thursday     215176
Name: start_time, dtype: int64

3. 해당 월의 각 주당 승차 건을 구하세요. 이것을 구하려면 start_time 열의 각 날짜를 이전 또는 현재 월요일로 변환해야 합니다. 한 주가 월요일에서 시작하여 일요일에 끝난다고 가정하세요. 즉, 6월의 첫째주는 6월 1일 월요일부터 6월 7일 일요일까지 입니다.

In [13]:
citi_bike['start_time'].dt.dayofweek.head()

0    0
1    0
2    0
3    0
4    0
Name: start_time, dtype: int64

In [14]:
days_away_from_monday = citi_bike['start_time'].dt.dayofweek

In [15]:
citi_bike['start_time'] - pd.to_timedelta(days_away_from_monday, unit = 'day')

0         2020-06-01 00:00:03.372
1         2020-06-01 00:00:03.553
2         2020-06-01 00:00:09.614
3         2020-06-01 00:00:12.178
4         2020-06-01 00:00:21.255
                    ...
1882268   2020-06-29 23:59:41.116
1882269   2020-06-29 23:59:46.426
1882270   2020-06-29 23:59:47.477
1882271   2020-06-29 23:59:53.395
1882272   2020-06-29 23:59:53.901
Name: start_time, Length: 1882273, dtype: datetime64[ns]

In [16]:
dates_rounded_to_monday = citi_bike['start_time'] - pd.to_timedelta(days_away_from_monday, unit = 'day')

In [18]:
dates_rounded_to_monday.value_counts().head()

2020-06-08 18:30:13.661    3
2020-06-08 18:28:49.897    3
2020-06-15 20:10:51.645    3
2020-06-22 17:43:44.188    3
2020-06-01 16:27:02.575    3
Name: start_time, dtype: int64

In [19]:
dates_rounded_to_monday.dt.date.head()

0    2020-06-01
1    2020-06-01
2    2020-06-01
3    2020-06-01
4    2020-06-01
Name: start_time, dtype: object

In [20]:
dates_rounded_to_monday.dt.date.value_counts()

2020-06-15    481211
2020-06-08    471384
2020-06-22    465412
2020-06-01    337590
2020-06-29    126676
Name: start_time, dtype: int64

4. 각 승차 시간을 계산하고 결과를 새로운 duration 열에 저장하세요

In [26]:
citi_bike['duration'] = citi_bike['stop_time'] - citi_bike['start_time']
citi_bike.head()

,start_time,stop_time,dureation,duration
0,2020-06-01 00:00:03.372,2020-06-01 00:17:46.208,0 days 00:17:42.836000,0 days 00:17:42.836000
1,2020-06-01 00:00:03.553,2020-06-01 01:03:33.936,0 days 01:03:30.383000,0 days 01:03:30.383000
2,2020-06-01 00:00:09.614,2020-06-01 00:17:06.833,0 days 00:16:57.219000,0 days 00:16:57.219000
3,2020-06-01 00:00:12.178,2020-06-01 00:03:58.864,0 days 00:03:46.686000,0 days 00:03:46.686000
4,2020-06-01 00:00:21.255,2020-06-01 00:24:18.965,0 days 00:23:57.710000,0 days 00:23:57.710000

5. 자전거를 타는 평균 시간을 구하세요

In [27]:
citi_bike['duration'].mean()

Timedelta('0 days 00:27:19.590506853')

6. 데이터셋에서 가장 긴 승차 시간을 5건 추출하세요

In [29]:
citi_bike['duration'].sort_values(ascending = False).head()

50593    32 days 15:01:54.940000
98339    31 days 01:47:20.632000
52306    30 days 19:32:20.696000
15171    30 days 04:26:48.424000
149761   28 days 09:24:50.696000
Name: duration, dtype: timedelta64[ns]

In [30]:
citi_bike.nlargest(n = 5, columns = 'duration')

,start_time,stop_time,dureation,duration
50593,2020-06-01 21:30:17.759,2020-07-04 12:32:12.699,32 days 15:01:54.940000,32 days 15:01:54.940000
98339,2020-06-02 19:41:39.659,2020-07-03 21:29:00.291,31 days 01:47:20.632000,31 days 01:47:20.632000
52306,2020-06-01 22:17:10.908,2020-07-02 17:49:31.604,30 days 19:32:20.696000,30 days 19:32:20.696000
15171,2020-06-01 13:01:41.942,2020-07-01 17:28:30.366,30 days 04:26:48.424000,30 days 04:26:48.424000
149761,2020-06-04 14:36:53.482,2020-07-03 00:01:44.178,28 days 09:24:50.696000,28 days 09:24:50.696000