# 2.1 Series 개요

## 2.1.1 클래스 및 인스턴스

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.Series()

C:\Users\여름\AppData\Local\Temp/ipykernel_21536/2031691219.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  pd.Series()

Series([], dtype: float64)

## 2.1.2 Series 값 채우기

In [7]:
ice_cream_flavors = [
    'Chcolate',
    'VAnilla',
    'Strawberry',
    'Rum Raisin',
]

# 다음 두 줄을 결과가 동일합니다
pd.Series(ice_cream_flavors)
pd.Series(data = ice_cream_flavors)

0      Chcolate
1       VAnilla
2    Strawberry
3    Rum Raisin
dtype: object

## 2.1.3 Series 인덱스 사용자 정의

In [8]:
ice_cream_flavors = [
    'Chcolate',
    'VAnilla',
    'Strawberry',
    'Rum Raisin',
]

days_of_week = ('Monday', 'Wednesday', 'Friday', 'Saturday')

# 다음 두 줄을 결과가 동일합니다
pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data = ice_cream_flavors, index = days_of_week)

Monday         Chcolate
Wednesday       VAnilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [9]:
ice_cream_flavors = [
    'Chcolate',
    'VAnilla',
    'Strawberry',
    'Rum Raisin',
]

days_of_week = ('Monday', 'Wednesday', 'Friday', 'Wednesday')

# 다음 두 줄을 결과가 동일합니다
pd.Series(ice_cream_flavors, days_of_week)
pd.Series(data = ice_cream_flavors, index = days_of_week)

Monday         Chcolate
Wednesday       VAnilla
Friday       Strawberry
Wednesday    Rum Raisin
dtype: object

In [10]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [11]:
stock_prices = [985.32, 950.44]
time_of_day = ['Open', 'Close']
pd.Series(data = stock_prices, index = time_of_day)

Open     985.32
Close    950.44
dtype: float64

In [12]:
lucky_numbers = [4,8,15,16,23,42]
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [13]:
lucky_numbers = [4,8,15,16,23,42]
pd.Series(lucky_numbers, dtype = 'float')

0     4.0
1     8.0
2    15.0
3    16.0
4    23.0
5    42.0
dtype: float64

## 2.1.4 결측값이 있는 Series 생성

In [14]:
temperatures = [94, 88, np.nan, 91]
pd.Series(data = temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

# 2.2 파이썬 객체에서 Series 생성

In [16]:
calorie_info = {
    'Cereal': 125,
    'Chocolate Bar': 406,
    'Ice Cream Sundae': 342
}

diet = pd.Series(calorie_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [17]:
pd.Series(data = ('Red', 'Green', 'Blue'))

0      Red
1    Green
2     Blue
dtype: object

In [18]:
rgb_colors = [(120,41,26), (196,165,45)]
pd.Series(data = rgb_colors)

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [20]:
my_set = {'Ricky', 'Bobby'}
pd.Series(my_set)

TypeError: 'set' type is unordered

In [21]:
pd.Series(list(my_set))

0    Bobby
1    Ricky
dtype: object

In [22]:
random_data = np.random.randint(1,101,10)
random_data

array([49,  5, 20, 96, 79, 30, 13, 12, 74,  1])

In [23]:
pd.Series(random_data)

0    49
1     5
2    20
3    96
4    79
5    30
6    13
7    12
8    74
9     1
dtype: int32

# 2.3 Series의 속성

In [24]:
calorie_info = {
    'Cereal': 125,
    'Chocolate Bar': 406,
    'Ice Cream Sundae': 342
}

diet = pd.Series(calorie_info)
diet

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [25]:
diet.values

array([125, 406, 342], dtype=int64)

In [26]:
type(diet.values)

numpy.ndarray

In [27]:
diet.index

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [28]:
type(diet.index)

pandas.core.indexes.base.Index

In [29]:
diet.dtype

dtype('int64')

In [30]:
diet.size

3

In [31]:
diet.shape

(3,)

In [32]:
diet.is_unique

True

In [34]:
pd.Series(data = [3, 3]).is_unique

False

In [36]:
pd.Series(data = [1, 3, 6]).is_monotonic

True

In [37]:
pd.Series(data = [1, 6, 3]).is_monotonic

False

# 2.4 첫 번째 행과 마지막 행 검색

In [38]:
values = range(0, 500, 5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [39]:
nums.head(3)

0     0
1     5
2    10
dtype: int64

In [40]:
nums.head(n = 3)

0     0
1     5
2    10
dtype: int64

In [41]:
nums.head()

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [42]:
nums.tail(6)

94    470
95    475
96    480
97    485
98    490
99    495
dtype: int64

In [44]:
nums.tail()

95    475
96    480
97    485
98    490
99    495
dtype: int64

# 2.5 수학 연산

## 2.5.1 통계 연산

In [45]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [46]:
numbers.count()

5

In [47]:
numbers.sum()

15.0

In [48]:
numbers.sum(skipna = False)

nan

In [49]:
numbers.sum(min_count = 3)

15.0

In [50]:
numbers.sum(min_count = 6)

nan

In [51]:
numbers.product()

120.0

In [52]:
numbers.product(skipna = False)

nan

In [53]:
numbers.product(min_count = 3)

120.0

In [54]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [57]:
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [58]:
numbers.cumsum(skipna = False)

0    1.0
1    3.0
2    6.0
3    NaN
4    NaN
5    NaN
dtype: float64

In [59]:
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [60]:
numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [61]:
# 아래 세 줄은 결과가 동일합니다
numbers.pct_change()
numbers.pct_change(fill_method = 'pad')
numbers.pct_change(fill_method = 'ffill')

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [63]:
# 아래 세 줄은 결과가 동일합니다
numbers.pct_change(fill_method = 'bfill')
numbers.pct_change(fill_method = 'backfill')

0         NaN
1    1.000000
2    0.500000
3    0.333333
4    0.000000
5    0.250000
dtype: float64

In [64]:
numbers.mean()

3.0

In [65]:
numbers.median()

3.0

In [66]:
numbers.std()

1.5811388300841898

In [67]:
numbers.max()

5.0

In [68]:
numbers.min()

1.0

In [69]:
animals = pd.Series(['koala', 'aardvark', 'zebra'])
animals

0       koala
1    aardvark
2       zebra
dtype: object

In [70]:
animals.max()

'zebra'

In [71]:
animals.min()

'aardvark'

In [72]:
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [73]:
numbers.sample(3)

5    5.0
3    NaN
2    3.0
dtype: float64

In [74]:
authors = pd.Series(
    ['Heminway', 'Orwell', 'Dostoesky', 'Fitzgerald', 'Orwell']
)

authors.unique()

array(['Heminway', 'Orwell', 'Dostoesky', 'Fitzgerald'], dtype=object)

In [75]:
authors.nunique()

4

## 2.5.2 산술 연산

In [77]:
s1 = pd.Series(data = [5, np.nan, 15], index = ['A', 'B', 'C'])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [78]:
s1 + 3

A     8.0
B     NaN
C    18.0
dtype: float64

In [79]:
s1.add(3)

A     8.0
B     NaN
C    18.0
dtype: float64

In [80]:
# 아래 세 줄은 결과가 동일합니다.
s1 - 5
s1.sub(5)
s1.subtract(5)

A     0.0
B     NaN
C    10.0
dtype: float64

In [81]:
# 아래 세 줄은 결과가 동일합니다.
s1 * 2
s1.mul(2)
s1.multiply(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [82]:
# 아래 세 줄은 결과가 동일합니다.
s1 / 2
s1.div(2)
s1.divide(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [83]:
# 아래 두 줄은 결과가 동일합니다.
s1 // 4
s1.floordiv(4)

A    1.0
B    NaN
C    3.0
dtype: float64

In [84]:
# 아래 두 줄은 결과가 동일합니다.
s1 % 3
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64

## 2.5.3 브로드캐스팅

In [85]:
s1 = pd.Series([1, 2, 3], index = ['A', 'B', 'C'])
s2 = pd.Series([4, 5, 6], index = ['A', 'B', 'C'])

In [86]:
s1 + s2

A    5
B    7
C    9
dtype: int64

In [87]:
s1 = pd.Series(data = [3, 6, np.nan, 12])
s2 = pd.Series(data = [2, 6, np.nan, 12])

In [88]:
# 다음 두 줄은 결과가 동일합니다.
s1 == s2
s1.eq(s2)

0    False
1     True
2    False
3     True
dtype: bool

In [89]:
# 다음 두 줄은 결과가 동일합니다.
s1 != s2
s1.ne(s2)

0     True
1    False
2     True
3    False
dtype: bool

In [91]:
s1 = pd.Series(
    data = [5, 10, 15], index = ['A', 'B', 'C']
)

s2 = pd.Series(
    data = [4, 8, 12, 14], index = ['B', 'C', 'D', 'E']
)

In [92]:
s1 + s2

A     NaN
B    14.0
C    23.0
D     NaN
E     NaN
dtype: float64

# 2.6 Series를 파이썬의 내장 함수에 전달

In [93]:
cities = pd.Series(
    data = ['San Francisco', 'Los Angeles', 'Las Vegas', np.nan]
)

In [94]:
len(cities)

4

In [95]:
type(cities)

pandas.core.series.Series

In [96]:
dir(cities)

['T',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__float__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__long__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_binop',
 '_can_hold_na',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_expanddim',
 '_convert',
 '_convert_dtypes',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_duplicated',
 '_find_valid_index',
 '_flags',
 '_from_mgr',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_cleaned_column_resolvers',
 '_get_index_resolvers',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_get_values_tuple',
 '_get_with',
 '_gotitem',
 '_hidden_attrs',
 '_index',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_init_dict',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_copy',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_item_cache',
 '_ixs',
 '_logical_func',
 '_logical_method',
 '_map_values',
 '_maybe_update_cacher',
 '_memory_usage',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_name',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_indexer',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_single',
 '_repr_data_resource_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_labels',
 '_set_name',
 '_set_value',
 '_set_values',
 '_set_with',
 '_set_with_engine',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'argmax',
 'argmin',
 'argsort',
 'array',
 'asfreq',
 'asof',
 'astype',
 'at',
 'at_time',
 'attrs',
 'autocorr',
 'axes',
 'backfill',
 'between',
 'between_time',
 'bfill',
 'bool',
 'clip',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'divmod',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtype',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'ewm',
 'expanding',
 'explode',
 'factorize',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'ge',
 'get',
 'groupby',
 'gt',
 'hasnans',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'interpolate',
 'is_monotonic',
 'is_monotonic_decreasing',
 'is_monotonic_increasing',
 'is_unique',
 'isin',
 'isna',
 'isnull',
 'item',
 'items',
 'iteritems',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lt',
 'mad',
 'map',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'name',
 'nbytes',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'radd',
 'rank',
 'ravel',
 'rdiv',
 'rdivmod',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'repeat',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'searchsorted',
 'sem',
 'set_axis',
 'set_flags',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'std',
 'str',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_frame',
 'to_hdf',
 'to_json',
 'to_latex',
 'to_list',
 'to_markdown',
 'to_numpy',
 'to_period',
 'to_pickle',
 'to_sql',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unique',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'view',
 'where',
 'xs']

In [98]:
list(cities)

['San Francisco', 'Los Angeles', 'Las Vegas', nan]

In [99]:
dict(cities)

{0: 'San Francisco', 1: 'Los Angeles', 2: 'Las Vegas', 3: nan}

In [100]:
cities

0    San Francisco
1      Los Angeles
2        Las Vegas
3              NaN
dtype: object

In [101]:
'Las Vegas' in cities

False

In [102]:
2 in cities

True

In [103]:
'Las Vegas' in cities.values

True

In [104]:
100 not in cities

True

In [105]:
'Paris' not in cities.values

True