In [13]:
import pandas as pd

battles = pd.read_csv(
    'revolutionary_war.csv',
    parse_dates = ['Start Date'],
    usecols = ['Start Date'],
    squeeze = True,
)

battles

0     1774-09-01
1     1774-12-14
2     1775-04-19
3     1775-04-19
4     1775-04-20
         ...
227   1782-09-11
228   1782-09-13
229   1782-10-18
230   1782-12-06
231   1783-01-22
Name: Start Date, Length: 232, dtype: datetime64[ns]

In [16]:
battles = battles.dropna()
battles

0     1774-09-01
1     1774-12-14
2     1775-04-19
3     1775-04-19
4     1775-04-20
         ...
227   1782-09-11
228   1782-09-13
229   1782-10-18
230   1782-12-06
231   1783-01-22
Name: Start Date, Length: 228, dtype: datetime64[ns]

In [10]:
import datetime as dt
today = dt.datetime(1782, 9, 11)
today.strftime('%A')

'Wednesday'

In [30]:
def days_of_weeks(day):
    return day.strftime('%A')

In [31]:
battles.apply(change_days).value_counts()

Saturday     39
Friday       39
Wednesday    32
Thursday     31
Sunday       31
Tuesday      29
Monday       27
Name: Start Date, dtype: int64