In [1]:
superheroes = [
    'Batman',
    'Superman',
    'Spider-Man',
    'Iron Man',
    'Catain America',
    'Wonder Woman'
]

strength_levels = (100, 120, 90, 95, 110, 120)

In [2]:
# 01. 슈퍼히어로 리스트를 사용하여 새 Series 객체의 값을 채우세요

import pandas as pd
import numpy as np

pd.Series(superheroes)

0            Batman
1          Superman
2        Spider-Man
3          Iron Man
4    Catain America
5      Wonder Woman
dtype: object

In [3]:
# 02. 능력치 튜플을 사용하여 새 Series 객체의 값을 채우세요

pd.Series(strength_levels)

0    100
1    120
2     90
3     95
4    110
5    120
dtype: int64

In [6]:
# 03. superheroes를 인덱스 레이블로 사용하고 strength_levels를 값으로 사용하여 Series를 생성하세요. heroes 변수에 Series를 할당하세요.

heroes = pd.Series(data = strength_levels, index = superheroes)
heroes

Batman            100
Superman          120
Spider-Man         90
Iron Man           95
Catain America    110
Wonder Woman      120
dtype: int64

In [7]:
# 04. heroes Series의 처음 2개 행을 추출하세요

heroes.head(2)

Batman      100
Superman    120
dtype: int64

In [8]:
# 05. heroes Series의 마지막 4개 행을 추출하세요

heroes.tail(4)

Spider-Man         90
Iron Man           95
Catain America    110
Wonder Woman      120
dtype: int64

In [9]:
# 06. heroes Series의 고유한 값의 개수를 구하세요

heroes.nunique()

5

In [15]:
# 07. heroes에 있는 슈퍼 히어로의 평균 능력치를 구하세요

heroes.mean()

105.83333333333333

In [16]:
# 08. heroes의 최대 및 최소 능력치를 구하세요

heroes.max()
heroes.min()

90

In [13]:
# 09. 능력치가 2배가 되면 각 슈퍼 히어로의 능력치는 얼마인지 구하세요

heroes * 2

Batman            200
Superman          240
Spider-Man        180
Iron Man          190
Catain America    220
Wonder Woman      240
dtype: int64

In [14]:
# 10. heroes Series를 파이썬 딕셔너리로 변환하세요

dict(heroes)

{'Batman': 100,
 'Superman': 120,
 'Spider-Man': 90,
 'Iron Man': 95,
 'Catain America': 110,
 'Wonder Woman': 120}